.footer {
    display: flex;
    justify-content: center;
}

.footer__copyright {
    width: 166px;
    color:#fff;
    margin: 92px 0 24px 0;
}

@media screen and (max-width: 320px) {
 .footer__copyright {
    margin: 64px 0 0 0;
}
}