.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__title {
    font-family: 'Inter-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
}

.main__subtitle {
    width: 720px;
    height: 72px;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.main__image {
    width: 984px;
    height: 615px;
}